.AppMenuButtonWrap {
  width: 96px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #585858;
  cursor: pointer;
  color: #e6e6e6;
  margin: 0 4px;
}